#contactform {
    width: auto;

}

#borda {
    border-width: 4px;
    border-style: solid;
    border-color: green;
}

h2 {
    text-align: center;
}


label {
    font-family: Arial, Verdana;
    display: block;

    margin-right: 15px;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
    width: 120px;
    line-height: 25px;
    font-size: 15px;
}

.input {
    font-family: Arial, Verdana;
    border: 1px solid #b9bdc1;
    color: black;
}